.body {
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: solid 1px lightgrey;
}

.logoContainer {
  display: flex;
  width: fit-content;
  margin: 0 20px;
  .logo {
    height: 40px;
    border-radius: 5px;
  }
}

.searchContainer {
  display: flex;
  height: 30px;
  width: fit-content;
  margin: 0 20px;
  * {
    text-decoration: none;
    color: black;
  }
}

.searchForm {
  height: 30px;
  display: flex;
  align-items: center;
}

.searchInput {
  height: 30px;
  border-color: #66a5be;
  color: black;
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input:focus {
  outline:none;
}

input::placeholder {
  color: #66a5be;
}

.searchButton {
  background-color: #66a5be;
  width: 30px;
  height: 30px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



@media (max-width: 570px) {
  .logoContainer, .searchContainer{
    margin: 0;
  }

}
