.registrationContainer {

    margin-top: 100px;
    h1 {
        font-size: 3rem;
    }
}


.registerUserForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 15px;
    input {
        height: 2.5rem;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid lightgray;
        margin-top: 5px;
    }
    button {
        // height: 2.5rem;
        width: 100px;
        border-radius: 8px;
        border: none;
        padding: 7px;
        margin-top: 15px;
        align-self: flex-end;
        font-size: 1.5rem;
        background-color: #61a5c3;
    }
}

