.sc-container {
  padding-left: 200px;
  padding-right: 200px;
  height: 100vh;
}

.go-back-container {
  padding-top: 75px;
  margin-bottom: 75px;
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 140px;
  height: 40px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  border-radius: 5px;
  p {
    margin-left: 5px;
  }
}

.sc-container-country {
  display: flex;
  .sc-flag-container {
    width: 560px;
    height: auto;
    min-width: 315px;
  }
  .sc-flag {
    width: 100%;
    height: auto;
  }
}

.sc-container-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  .sc-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .sc-left-column,
  .sc-right-column {
    p {
      margin-bottom: 5px;
    }
  }
  span {
    font-weight: 700;
  }
  .sc-border-countries {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    .each-border-country {
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
      cursor: pointer;
      border-radius: 5px;
      width: fit-content;
      padding-left: 15px;
      padding-right: 15px;
      height: 22px;
      margin-right: 8px;
      margin-bottom: 7px;
    }
    .bc-title {
      margin-bottom: 5px;
      margin-right: 8px;
      font-weight: 700;
    }
  }
}

.sc-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .sc-left-column {
    min-width: 160px;
  }
}

@media (max-width: 675px) {
  .sc-container {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
}

