@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    :hover button {
        cursor: pointer;
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
  }

