.searchPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  margin-bottom: 20px;
  background-color: #b2d4ee;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.searchForm {
  display: flex;
  align-items: center;
  width: 500px;
}

.searchInput {
  border: none;
  border-radius: 5px;
  width: 40rem;
  height: 2.5rem;
  padding-left: 1rem;
}

.searchButton {
  background-color: #fc8787;
  height: 2.5rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

input {
  width: 20rem;
}

.searchResults {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 800px;
  margin-bottom: 80px;
  transition: 1000ms;
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 7px 0;
    background-color: #eeeeee;
    border-radius: 4px;
  }
  a:hover {
    background-color: #fc8787;
    transition: 300ms;
  }
}

.resultItem {
  display: grid;
  grid-template-columns: 40% 30% 15% 15%;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px;
  list-style: none;
  li {
    font-size: 1.1rem;
    padding-top: 2px;
  }
}

.srClientName {
  text-align: left;
}

.srClientDeliverable {
  text-align: center;
}

.srClientDueDate {
  text-align: right;
}

@media (max-width: 600px) {
  .searchForm {
    width: 350px;
  }
  .searchInput {
    width: 25rem;
  }
  .searchPageContainer {
    margin-top: 20px;
  }
  .resultItem {
  }
}

@media (max-width: 700px) {
  .resultItem {
    grid-template-columns: 40% 25% 35%;
  }
  .srClientCity {
    display: none;
  }
  .searchResults {
    width: 375px;
    a {
      margin: 2px;
    }
  }
}


.dueDateSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  label {
    font-size: 30px;
  }
}

.dueDateSearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.dueDateSearchInputAndButton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dueDateSearchInput {
  border: 2px;
  border-color: black;
  outline: black 2px;
  background-color: #b2d4ee;
}

.resultItemDD {
  display: grid;
  grid-template-columns: 40% 15% 45%;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px;
  list-style: none;
  li {
    font-size: 1.1rem;
    padding-top: 2px;
  }
}