.searchPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 200px;
  margin-bottom: 20px;
  background-color: #b2d4ee;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.searchInput {
  border: none;
  border-radius: 5px;
  width: 40rem;
  height: 2.5rem;
  padding-left: 1rem;
}

.searchButton {
  background-color: #fc8787;
  height: 2.5rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

input {
  width: 20rem;
}

.searchResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  max-width: 800px;
  margin-bottom: 80px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.searchResults a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin: 7px 0;
  background-color: #eeeeee;
  border-radius: 4px;
}

.searchResults a:hover {
  background-color: #fc8787;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.resultItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 15% 15%;
      grid-template-columns: 40% 30% 15% 15%;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px;
  list-style: none;
}

.resultItem li {
  font-size: 1.1rem;
  padding-top: 2px;
}

.srClientName {
  text-align: left;
}

.srClientDeliverable {
  text-align: center;
}

.srClientDueDate {
  text-align: right;
}

@media (max-width: 600px) {
  .searchForm {
    width: 350px;
  }
  .searchInput {
    width: 25rem;
  }
  .searchPageContainer {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .resultItem {
    -ms-grid-columns: 40% 25% 35%;
        grid-template-columns: 40% 25% 35%;
  }
  .srClientCity {
    display: none;
  }
  .searchResults {
    width: 375px;
  }
  .searchResults a {
    margin: 2px;
  }
}

.dueDateSearchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dueDateSearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.resultItemDD {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 15% 45%;
      grid-template-columns: 40% 15% 45%;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px;
  list-style: none;
}

.resultItemDD li {
  font-size: 1.1rem;
  padding-top: 2px;
}
/*# sourceMappingURL=searchClients.css.map */